<div class="page-not-found d-flex justify-content-center mt-4">
    <button style="border-radius: 50%;" (click)= "goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
</div>

<h2 class="notfound mt-4" style="text-align: center;">Page not found !</h2>
<p style="text-align: center;">Please first do Signup or LogIn If already have an account.</p>
<div class="button" style="text-align: center;">
    <button routerLink="/login" class="btn btn-primary">Login</button>
    ||
    <button routerLink="/signin" class="btn btn-danger">Signup</button>
</div>